
/************** HEADER *************/

#profile-header {
  background: rgb(223,155,155);
  background: linear-gradient(160deg, rgba(223,155,155,0.9766281512605042) 0%, rgba(255,122,114,1) 60%, rgba(250,88,78,1) 95%);
}

#profile-header h1 {
  font-size: 5em;
  text-align: center;
  margin-bottom: 20px;
  color: linear-gradient(160deg, rgba(223,155,155,0.9766281512605042) 0%, rgba(255,122,114,1) 60%, rgba(250,88,78,1) 95%);
  background: -webkit-linear-gradient(rgb(74, 94, 184), rgb(42, 64, 158));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#profile-header nav {
  text-align: center;
}


#profile-header ul li {
  display: inline-block;
}

#profile-header ul li:hover {
  transform: scale(1.2);
}


#profile-header ul li a {
  padding: 10px 10px 5px;
  text-decoration:  none;
  font-size: 20px;
  color: white;
}

#profile-header #match:hover {
  color:rgb(163, 24, 24);
}



#profile-header ul li a:hover {
  color: rgb(66, 87, 184);
}

/***************** MAIN ***************/

#profile-main {
  width: 65%;
  margin: 50px auto 0;
}

#profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid black; */
  padding-top: 10px;
}

#profile-main img {
  border-radius: 50%;
  background: rgb(241, 173, 173);
  height: 250px;
  width: 250px;
  margin-bottom: 1em;
}

.button-div {
  text-align: center;
}

#follow-button {
  height: 2.5em;
  width: 7em;
  outline: none;
  font-size: .8em;
  border-radius: 20px;
}

#profile-container a {
  border: 1px solid rgb(241, 173, 173);
  height: 2.5em;
  width: 7em;
  outline: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 10px 20px;
}

#profile-container a:hover {
  background-color: #1e90ff;
}


#profile-container a:visited {
  color: rgb(74, 94, 184);
}

#profile-main .bio {
  text-align: left;
  font-size: 1.2em;
  width: 30%;
}
#profile-main .bio p {
  margin-bottom: 3.7px;
}

hr {
  margin: 3em;
  color: rgb(241, 173, 173);
}

/*************** Followers/Following **********/

#hello-follow {
  display: flex;
  justify-content: space-around;
}

#profile-container input {
  border: 1px solid rgb(241, 173, 173);
  height: 2.5em;
  width: 7em;
  outline: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(74, 94, 184);
}

#profile-container input:hover {
  background-color: rgb(241, 173, 173);
}



#profile-wrapper {
  display:flex;
  justify-content: space-around;

}

.profile-follows {
  margin: 10px 2em;
}

.profile-h3 {
  margin: 1em 0;
  text-align: center;
}


